## Index

Vimos aqui que os objetos Series e DataFrame contêm um índice explícito que permite fazer referência e modificar dados. Este objeto Index é uma estrutura interessante em si, e pode ser pensado como um array imutável ou como um conjunto ordenado (tecnicamente um multiconjunto, já que os objetos Index podem conter valores repetidos).

Uma diferença entre os objetos Index e os arrays NumPy é que os índices são imutáveis - isto é, eles não podem ser modificados através dos meios normais. Essa imutabilidade torna mais seguro compartilhar índices entre vários DataFrames e
matrizes, sem o potencial de efeitos colaterais da modificação inadvertida do índice.

Alguns usuários geralmente não aproveitam os recursos fornecidos pelos índices, mas como algumas operações produzem resultados que contêm dados indexados, é importante entender como eles funcionam.

In [1]:
import pandas as pd

In [2]:
# Criando uma lista a ser usada como índice
indice = ['a', 'b', 'c', 'd', 'e']

# Em seguida, vamos criar 2 datasets compartilhando o mesmo índice
df1 = pd.DataFrame({'carro': ['fusca', 'brasília', 'santana', 'gol', 'ferrari']}, index=indice)
df2 = pd.DataFrame({'cor': ['azul', 'amearela', 'cinza', 'branco', 'vermelha']}, index=indice)

In [3]:
# Concatenando as duas informações através do índice
df3 = pd.concat([df1, df2], axis=1)
df3

      carro       cor
a     fusca      azul
b  brasília  amearela
c   santana     cinza
d       gol    branco
e   ferrari  vermelha

In [4]:
# Verificando se o índice contem valores únicos
df3.index.is_unique

True

**Operações com índices**

In [5]:
#Slicing
df3['c':'e']

     carro       cor
c  santana     cinza
d      gol    branco
e  ferrari  vermelha

In [6]:
# Quando fazemos uma transposta o índice muda
df4 = df3.T
df4.index

Index(['carro', 'cor'], dtype='object')

**Redefinição de índice**  
Índices são imutáveis, porém podemos resetá-lo através da função ``reset_index()`` e atribuir um novo índice através da função ``set_index()``.

In [7]:
# Resetando o índice
df3.reset_index(level=0, inplace=True) # O atributo inplace=true modifica diretamente na variável
df3

  index     carro       cor
0     a     fusca      azul
1     b  brasília  amearela
2     c   santana     cinza
3     d       gol    branco
4     e   ferrari  vermelha

In [8]:
# Atribuindo uma ou mais colunas como índice
df3.set_index(['carro', 'cor'], inplace=True)
df3

                  index
carro    cor
fusca    azul         a
brasília amearela     b
santana  cinza        c
gol      branco       d
ferrari  vermelha     e