## Aggregation

O pandas oferece algumas opções de agragação que nos permite ter um resumo do dataset.

|Aggregation     |Description|
|----------------|-----------|
|count()         |Total number of items|
|first(), last() |First and last item|
|mean(), median()|Mean and median|
|min(), max()    |Minimum and maximum|
|std(), var()    |Standard deviation and variance|
|mad()           |Mean absolute deviation|
|prod()          |Product of all items|
|sum()           |Sum of all items|
|describe()      |A summary of data: count, mean, standard deviation and quartiles|

In [1]:
import pandas as pd
import seaborn as sns # Vamos importar o seaborn apenas para utilizar o dataset planet

In [2]:
# No exemplo abaixo vamos contar os valores de cada coluna
planets = sns.load_dataset('planets')
planets.count()

method            1035
number            1035
orbital_period     992
mass               513
distance           808
year              1035
dtype: int64

**Describe**  
Com a funçao describe podemos ter um resumo de todo o dataset. Isso pode ser bem útil para termos uma ideia geral dos dados.

In [3]:
# Ignoraremos os valores NA
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000